<div class="admin-top-section">
  <div class="admin-fiters flex-grow-1">
    <div class="input-group flex-grow-1">
      <%= form_with url: "/admin/#{type}s/search", method: :get, class: 'form-search' do |f| %>
        <%= f.text_field :query, placeholder: I18n.t("admin.search.#{type}"), value: search_value %>
        <%= f.button type: 'submit', class: "btn" do %>
          <%= icon("fa-solid", "magnifying-glass", class: "fa-lg") %>
        <% end %>
      <% end %>
    </div>

    <div class="flex-grow-0 dropdown align-items-center">
      <button class="btn btn-outline-secondary fw-bold dropdown-toggle filters-dropdown" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        <%= icon("fa-solid", "filter", I18n.t('admin.filters.button').upcase, class: "fa-lg ") %>
      </button>
      <ul class="dropdown-menu shadow">
        <%= form_with url: "/admin/#{type}s/filter", method: :get, class: 'form-filter' do |f| %>
          <% if type == 'product' %>
            <div class="px-3">
              <p class="m-0 fs-5 pb-2">Sort by</p>
              <div class="form-check">
                <%= f.radio_button :sort_by, 'name', checked: request.params['sort_by'].nil? || request.params['sort_by'] == 'name', class: 'form-check-input' %>
                <%= f.label :sort_by_name, 'Name', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= f.radio_button :sort_by, 'price', checked: request.params['sort_by'] == 'price', class: 'form-check-input' %>
                <%= f.label :sort_by_price, 'Price', class: 'form-check-label' %>
              </div>
            </div>

            <li><hr class="dropdown-divider"></li>

            <div class="filter-price px-3 pb-2">
              <p class="m-0 fs-5 ps-3 pb-2">Price Range</p>
              <% min_price = Product.pluck(:price).min %>
              <% max_price = Product.pluck(:price).max %>
              <div class="price-input mb-1">
                <%= f.number_field :price_min, in: min_price..max_price, step: 1, value: request.params['price_min'] || min_price, class: 'input-min' %>
                <%= f.number_field :price_max, in: min_price..max_price, step: 1, value: request.params['price_max'] || max_price, class: 'input-max' %>
              </div>
              <div class="slider">
                <div class="progress"></div>
              </div>
              <div class="range-input">
                <%= f.range_field :price_range_min, in: min_price..max_price, value: request.params['price_min'] || min_price, class: 'range-min' %>
                <%= f.range_field :price_range_max, in: min_price..max_price, value: request.params['price_max'] || max_price, class: 'range-max' %>
              </div>
            </div>
          <% else %>
            <div class="px-3">
              <p class="m-0 fs-5 pb-2">Sort by</p>
              <div class="form-check">
                <%= f.radio_button :sort_by, 'name', checked: request.params['sort_by'].nil? || request.params['sort_by'] == 'name', class: 'form-check-input' %>
                <%= f.label :sort_by_name, 'Name', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= f.radio_button :sort_by, 'email', checked: request.params['sort_by'] == 'email', class: 'form-check-input' %>
                <%= f.label :sort_by_email, 'Email', class: 'form-check-label' %>
              </div>
            </div>

            <li><hr class="dropdown-divider"></li>

            <div class="px-3">
              <p class="m-0 fs-5 pb-2">Role</p>
              <div class="form-check">
                <%= f.radio_button :role, 'any', checked: request.params['role'].nil? || request.params['role'] == 'any', class: 'form-check-input' %>
                <%= f.label :role_any, 'Any', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= f.radio_button :role, 'user', checked: request.params['role'] == 'user', class: 'form-check-input' %>
                <%= f.label :role_user, 'User', class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= f.radio_button :role, 'admin', checked: request.params['role'] == 'admin', class: 'form-check-input' %>
                <%= f.label :role_admin, 'Admin', class: 'form-check-label' %>
              </div>
            </div>
          <% end %>

          <li><hr class="dropdown-divider"></li>
          <li><%= f.submit "Confirm", class: 'btn btn-outline-primary ms-3' %></li>
        <% end %>

      </ul>
      <%#= link_to icon("fa-solid", "filter", I18n.t('admin.filters.button').upcase, class: "fa-lg "), root_path, class: "btn btn-outline-secondary fw-bold" %>
    </div>
  </div>
  <div class="admin-new-item flex-grow-0">
    <%= link_to icon("fa-solid", "plus", I18n.t("admin.new.#{type}").upcase, class: "fa-lg "), '#',
                class: "btn btn-outline-primary fw-bold", type: 'button',
                'data-bs-toggle': "modal", 'data-bs-target': "#new_#{type}_modal" %>
    <%= render "admin/#{type}s/new" %>
  </div>
</div>
