<% if @order_items.empty? %>

  <div class="container d-flex align-items-center justify-content-center">
    <h1>Empty cart</h1>
  </div>

  <% else %>
  <div class="text-center my-4">
      <h1>Cart</h1>
  </div>

  <%#= turbo_stream_from current_order %>
<!--  <div class="container mb-sm-5 order" id="<%#= current_order %>">-->
  <div class="container mb-sm-5 order">


    <%= turbo_stream_from current_order, "order_items" %>
    <div id="order_items">
      <%= render @order_items %>
    </div>

    <div class="d-grid d-sm-flex gap-2 justify-content-sm-end my-3">
      <%= turbo_stream_from dom_id(current_order, :total) %>
      <div id="<%= dom_id(current_order, :total) %>">
        <%= render 'orders/total', order_total: current_order.total_price %>
      </div>

      <%= link_to 'Complete order',
                  edit_order_path(current_order),
                  class: "btn btn-success btn-lg"
      %>
      <%= link_to 'Cancel',
                  cancel_orders_path,
                  data: { "turbo-method": :post },
                  class: "btn btn-outline-danger btn-lg"
      %>
    </div>
  </div>

<% end %>
