<div class="card overflow-scroll" id="<%= dom_id(product) %>">
  <%= link_to product, data: { turbo_frame: 'modal' }, class: 'text-decoration-none text-reset flex-grow-0' do %>
    <%= image_tag url_for(product.images.first&.variant(:small) || "everlabs_logo.jpeg"), style: "cursor: pointer" %>
  <% end %>
  <div class="admin-table-texts flex-grow-1">
    <%= form_with model: product, method: :put, class: 'product-form' do |f| %>
      <div class="admin-form">
        <%= f.text_area :name, value: product.name, class: 'autosize', onchange: "this.form.requestSubmit()" %>
      </div>
    <% end %>
    <%= form_with model: product, method: :put, class: 'product-form' do |f| %>
      <div class="admin-form">
        <%= f.text_area :description, value: product.description, class: 'autosize', onchange: "this.form.requestSubmit()" %>
      </div>
    <% end %>
  </div>
  <%= tag.div class: "text-truncate admin-table-price fs-6 flex-grow-0 flex-shrink-0 #{'disabled' unless product.price&.positive?}" do %>
    <%= icon("fa-solid","money-bill", class: "fa-lg") %>
    <%= form_with model: product, method: :put, class: 'product-form align-items-center' do |f| %>
      <div class="admin-form">
        <%= f.number_field :price, value: product.price, onchange: "this.form.requestSubmit()", min: '-10', max: '2147483647' %>
      </div>
        <%= tag.p "USD", class: "m-0 ps-2" %>


    <% end %>

  <% end %>
  <div class="admin-actions flex-grow-0">
    <%#= link_to icon("fa-solid","pencil", class: "fa-lg"), root_path, class: "btn admin-action" %>
    <%= link_to icon("fa-solid","trash-can", class: "fa-lg"), product_path(id: product.id), data: { "turbo-method": :delete, 'turbo-confirm': 'Are you sure?' }, class: "btn admin-action delete-action" %>
  </div>
</div>
