<div class="card mt-3 border-bottom p-3" id="<%= dom_id(order_item) %>">
  <div class="d-flex justify-content-between">

    <div class="d-flex justify-content-start order-item-main overflow-hidden">
      <%= link_to order_item.product, data: { turbo_frame: 'modal' }, class: 'text-decoration-none text-reset' do %>
        <%= image_tag (order_item.product.images.first&.variant(:small) || "everlabs_logo.jpeg"),
                      class: "cart-item-image me-3",
                      style: "cursor: pointer" %>
      <% end %>
      <%= link_to order_item.product, data: { turbo_frame: 'modal' }, class: 'text-decoration-none text-reset' do %>
        <%= tag.p order_item.product.name&.truncate(60), class: 'text-wrap text-truncate fs-6' %>
      <% end %>
    </div>

    <div class="dropdown">
      <button class="order-item-button btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= icon("fa-solid","ellipsis-vertical", class: "fa-xl") %>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to icon("fa-regular", "trash-can", I18n.t('cart.order.order_item.remove'), class: "fa-lg me-2 py-3"),
                      product_order_item_path(product_id: order_item.product.id, id: order_item.id),
                      data: { "turbo-method": :delete},
                      class: "order-item-button dropdown-item btn btn-outline-danger"
          %>
        </li>
      </ul>

    </div>
  </div>
  <%= turbo_stream_from dom_id(order_item, :price) %>
  <%= render 'order_items/order_item_quantity_and_price', order_item: order_item %>

</div>
