<div class="modal fade admin-modal" id="new_user_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= I18n.t('admin.add.user') %></h1>
        <button type="button" class="btn-close" id="new_user_modal_close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: User, class: "new-form user-form", id: "new-user", method: :post do |f| %>
          <div class="admin-form">
            <%= f.label :name, "Name", class: 'required' %>
            <%= f.text_field :name, required: true, autofocus: true %>
            <%= f.label :email, "Email" %>
            <%= f.text_area :email, required: true %>
            <%= f.label :password, "Password" %>
            <%= f.password_field :password, id: 'password', required: true %>
            <%= f.label :password_confirmation, "Confirm password" %>
            <%= f.password_field :password_confirmation, required: true %>

            <%= f.radio_button :role, 'user', checked: true, class: 'btn-check' %>
            <%= f.label :role_user, "User", class: 'btn btn-outline-primary' %>
            <%= f.radio_button :role, 'admin', class: 'btn-check' %>
            <%= f.label :role_admin, "Admin", class: 'btn btn-outline-danger' %>

          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="new-user"><%= I18n.t('modal.confirm') %></button>
      </div>
    </div>
  </div>
</div>