<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid ">
    <%= link_to root_path(locale: I18n.locale), class: "navbar-brand mb-0 me-1" do %>
      <%= image_tag "ruby-logo.png",  alt: "Logo", width: 30, class: "d-inline-block align-text-top" %>
      Ruby Shop
    <% end %>

    <div class="d-flex" id="nav-main">
      <%= render 'layouts/language_selector' %>

      <input type="checkbox" class="color_mode_button" id="darkmode-toggle"/>
      <%= render 'layouts/darkmode_switch' %>

      <% if user_signed_in? %>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><%= I18n.t('navbar.menu') %></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-between flex-grow-1">
              <div class="d-lg-flex">
                <li class="nav-item">
                  <%= link_to icon("fa-solid", "house", I18n.t('navbar.home'), class: "fa-md text-center", style: "width: 20px"), root_path(locale: I18n.locale), class: "nav-link active", "aria-current": "page" %>
                </li>

                <li class="nav-item">
                  <%= link_to orders_path(locale: I18n.locale), class: "nav-item nav-link" do %>
                    <%= icon('fa-solid', 'cart-shopping', I18n.t('navbar.cart'), class: "fa-md text-center", style: "width: 20px") %>
                    <%= turbo_stream_from dom_id(current_order, :size) %>
                    <span class="badge text-bg-secondary" id="<%= dom_id(current_order, :size) %>">
                      <%= render 'orders/size', order_size: current_order.order_items.sum(&:quantity) %>
                    </span>
                  <% end %>
                </li>
              </div>

              <div class="d-lg-flex" id="nav-right">
                <%= render 'layouts/language_selector' %>
                <%= render 'layouts/darkmode_switch' %>
                <li class="nav-item navbar-text text-truncate">
                  <span><%= icon('fa-solid', 'user', truncate(current_user.name, length: 50), class: "fa-md text-center", style: "width: 20px") %></span>
                </li>

                <li class="nav-item">
                  <%= link_to icon('fa-solid', 'right-from-bracket', I18n.t('navbar.logout'), class: "fa-md text-center", style: "width: 20px"), destroy_user_session_path(locale: I18n.locale), data: { "turbo-method": :delete }, class: "nav-link text-danger" %>
                </li>
              </div>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
