<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid ">
    <%= link_to root_path(locale: I18n.locale), class: "navbar-brand mb-0 me-1" do %>
      <%= image_tag "ruby-logo.png",  alt: "Logo", width: 30, class: "d-inline-block align-text-top" %>
      Ruby Shop
    <% end %>

    <div class="d-flex" id="nav-main">
      <input type="checkbox" class="color_mode_button" id="darkmode-toggle"/>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><%= I18n.t('navbar.menu') %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-between flex-grow-1">
            <% if user_signed_in? %>
              <div class="d-lg-flex">
                <li class="nav-item">
                  <%= link_to icon("fa-solid", "house", I18n.t('navbar.home'), class: "fa-md text-center", style: "width: 20px"), root_path(locale: I18n.locale), class: "nav-link #{active_url?(root_path)}", "aria-current": "page" %>
                </li>

                <li class="nav-item">
                  <%= link_to orders_path(locale: I18n.locale), class: "nav-item nav-link #{active_url?(orders_path)}" do %>
                    <%= icon('fa-solid', 'cart-shopping', I18n.t('navbar.cart'), class: "fa-md text-center", style: "width: 20px") %>
                    <%= turbo_stream_from dom_id(current_order, :size) %>
                    <span class="badge text-bg-secondary" id="<%= dom_id(current_order, :size) %>">
                      <%= render 'orders/size', order_size: current_order.order_items.sum(&:quantity) %>
                    </span>
                  <% end %>
                </li>
              </div>
            <%end %>

            <div class="d-lg-flex" id="nav-right">
              <% if user_signed_in? && current_user.admin? %>
                <li class="nav-item">
                  <%= link_to icon("fa-solid", "bars-progress", I18n.t('navbar.admin_panel'), class: "fa-md text-center", style: "width: 20px"), admin_dashboard_path(locale: I18n.locale), class: "nav-link", "aria-current": "page" %>
                </li>
              <% end %>

              <%= render 'layouts/language_selector' %>
              <%= render 'layouts/darkmode_switch' %>

              <% if user_signed_in? %>
                <div class="d-lg-none">
                  <li class="nav-item py-2"><span class="dropdown-item user-select-none"><%= icon('fa-solid', 'user', truncate(current_user.name, length: 50), class: "fa-md", style: "width: 20px") %></span></li>
                  <li class="nav-item py-2"><%= link_to icon('fa-solid', 'right-from-bracket', I18n.t('navbar.logout'), class: "fa-md text-center", style: "width: 20px"), destroy_user_session_path(locale: I18n.locale), data: { "turbo-method": :delete }, class: "dropdown-item text-danger" %></li>
                </div>

                <li class="nav-item dropdown d-none d-lg-flex align-items-center">
                  <button class="btn btn-dark dropdown-toggle user-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= icon('fa-solid', 'user', class: "fa-md text-center") %>
                  </button>

                  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                    <li><span class="dropdown-item user-select-none"><%= icon('fa-solid', 'user', truncate(current_user.name, length: 50), class: "fa-md", style: "width: 20px") %></span></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to icon('fa-solid', 'right-from-bracket', I18n.t('navbar.logout'), class: "fa-md text-center", style: "width: 20px"), destroy_user_session_path(locale: I18n.locale), data: { "turbo-method": :delete }, class: "dropdown-item text-danger" %></li>
                  </ul>
                </li>
              <% end %>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
